*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--text-color: white;
	--bg-url:url(../assets/bg-mobile.jpg);
	--stroak-color:rgba(255,255,255,0.5);
	--surface-color:rgba(255,255,255, 0.05);
	--surface-color-hover:rgba(0,0,0 0.2);
	--highlight-color:rgba(255,255,255,0.2);
	--swtch-bg: url(../assets/moon-stars.svg);
}

.light{
	--text-color:black;
	--bg-url:url(../assets/bg-mobile-light.jpg);
	--stroak-color: rgba(0,0,0, 0.05);
	--surface-color:  rgba(0,0,0, 0.05);
	--surface-color-hover:rgba(255,255,255,0.2);
	--highlight-color:rgba(0,0,0,0.1);
	--swtch-bg: url(../assets/sun.svg);
}

body{
	background: var(--bg-url) no-repeat top
	center/cover;
}

body * {
	font-family: 'Inter', sans-serif;
	color: var(--text-color);
}

#container{
	width: 360px;
	margin: auto;
	margin-top: 56px auto 0px;
	padding: 0 24px;
}

/**/
#profile {
	text-align: center;
	padding: 24px;
}

#profile img{
	width: 400px;
	height: 100px;
	border-radius: 50%;
}

#profile img {
	width: 112px;
	border: solid 1px var(--text-color);
}

#profile p {
	font-weight: 500;
	line-height: 24px;
	margin-top: 8px;
}
/*swtch*/
#switch{
	position: relative;
	width: 64px;
	margin: 4px auto;
}

#switch button{
	width: 32px;
	height: 32px;
	background: white var(--swtch-bg) no-repeat center;
	border: 0;
	border-radius: 50%;
	
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translateY(-50%);
	cursor: pointer;
}
.light #switch button{
	right: 0;
	left: initial;
}

#switch span{
	display: block;
	width: 64px;
	height: 24px;
	background: var(--surface-color);
	border: 1px solid var(--stroak-color) ;
	-webkit-backdrop-filter: blur(4px);
	border-radius: 9999px;

}

/*links*/

ul{
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 16px;

	padding: 24px 0;
}

ul li a{
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 16px;
	gap: 20px;
	text-decoration: none;

	background: var(--surface-color);
	border: 1px solid var(--stroak-color);
	border-radius: 8px;
	-webkit-backdrop-filter: blur(4px);
	font-weight: 500;

	transition: background 0.3s;
}

ul li a:hover{
	background: var(--surface-color-hover);
	border: 1.5px solid var(--text-color);	
}

#social-links{
	display: flex;
	justify-content: center;


	padding: 24px 0;

	font-size: 24px;
}

#social-links a{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px;

	transition: background 0.2s;
	border-radius: 50%;
}

#social-links a:hover{
	background: var(--highlight-color);

}

footer{
	padding: 24px 0;
	text-align: center;
	font-size: 12px;

}
